.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.restaurant-card {
  padding: 5px;
  width: 200px;
  height: 450px;
  margin: 5px;
}

.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.restaurant-logo {
  width: 100%;
  height: 200px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 10px;
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
}

.login {
  padding: 0 15px;
  cursor: pointer;
}

.menu > ul {
  list-style-type: none;
  padding: 0px;
}

.menu-card {
  margin: 5px;
  padding: 10px;
  height: 100px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.body-restaurants {
  text-decoration: none;
  color: black;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
